
<div style="text-align: center;">
  <div class="field grid mt-2">
    <div class="col">
      <input style="width: 20rem;" pInputText placeholder="Județ" type="text" [(ngModel)]="tehnician.judet" required>
    </div>
  </div>
  <div class="field grid">
    <div class="col">
      <input style="width: 20rem;" pInputText placeholder="Tehnician" type="text" [(ngModel)]="tehnician.tehnician" required>
    </div>
  </div>
  <div class="field grid">
    <div class="col">
      <input style="width: 20rem;" pInputText placeholder="Email" type="text" [(ngModel)]="tehnician.email" required>
    </div>
  </div>
  <div class="field grid">
    <div class="col">
      <input style="width: 20rem;" pInputText placeholder="Nexus Id" type="number" [(ngModel)]="tehnician.nexusId" required>
    </div>
  </div>
  <div class="field grid">
    <div class="col">
      <input style="width: 20rem;" pInputText placeholder="Prestator Id" type="number" [(ngModel)]="tehnician.prestatorId" required>
    </div>
  </div>
  <div class="flex justify-content-end mr-6">
    <button (click)="saveNewtehnician()" pButton pRipple type="button" label="Save" class="p-button-success"></button>
  </div>
</div>



